{% extends 'part/base.html' %}
{% block title %} Login Page{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white">
                <h3>Login</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}

                    <button class="btn btn-success" ype="submit" name="login">login</button>

                </form>

            </div>
        </div>
    </div>
</div>    


{% endblock %}